{% extends "base/indexBase.html" %}
{% block content %}
<style type="text/css">
	.container{
		margin-top: 10px;
	}
	img{
		width: 21px;
		height: 21px;
	}
	#head{
		text-align: center;
	}
	.title-name{
		margin-left: 15px;
	}
	#button{
		text-align:right;
	}
	#img{
		text-align:center;
		width:150px;
		height:150px;
	}	
	#list{
		text-align: center;
	}		
</style>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel">
				<ul class="nav nav-pills nav-stacked">
					<li ><a href="/accounts/information/">个人资料</a></li>
					<li class="active"><a href="/accounts/learn/">在学课程</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
		<div class="panel panel-default">	
			<div class="panel-heading">
				<h3 class="panel-title">在学课程
				</h3>				
			</div>
			<div class="panel-body">
				{% for cs in CS %}
				<div class="col-md-3" id="list">
					<a href="/course/{{cs.courseId.id}}" class="course-picture"><img id="img" src="/{{cs.courseId.picAddr.url}}"/></a>
					<h3 class="courseHead">{{ cs.courseId.name }} <span class="label label-success series-mode-label">{{cs.courseId.state}}</span> </h3>
				</div>
				{% endfor %}
				{% if not CS %}
					暂时未添加课程。<a href="/">回首页添加新的课程吧！</a>
				{% endif %}
			</div> 
		</div>		
			</div>
		</div>
	</div>
</div>
{% endblock %}
